

.carousel-inner {
    height: auto;
    width: auto;
   
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.card-columns{
    padding-top: 25px;
    padding-bottom: 50px;
    
}

.navbar  {
    
    margin-bottom: 10px;

}
.card-group{
    margin-top: 20px;
}
.card{
     
    padding: 0px;
    font-size: 10px;
    height: auto;
}
.breadcrumb {
    margin-bottom: 10px;
}

.row{
    margin-bottom: 10px;
}


#reg_title{
    margin-bottom: 4%;
    padding-top: 2%;
}

#signup_form{
    padding-left: 2%;
    padding-right: 50%;
    padding-bottom: 2%;
}

.nav-pills{
    padding-left: 1%;
}
#home.tab-pane.container.active{
    padding-left: 0%;
}
.tab-pane.container.active{
    padding-left: 0%;
}

#map-here {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

#contacts{
    padding-left: 1%;
}

