

.carousel-inner {
    height: auto;
    width: auto;
   
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.card-columns{
    padding-top: 25px;
    padding-bottom: 50px;
    
}

.navbar  {
    
    margin-bottom: 10px;

}
.card-group{
    margin-top: 20px;
}
.card{
     
    padding: 0px;
    font-size: 10px;
    height: auto;
}
.breadcrumb {
    margin-bottom: 10px;
}

.row{
    margin-bottom: 10px;
}

